{% extends 'base.html'%}
{% block main %}
<link href="{{ url_for('static', filename='css/hoste.css') }}" rel="stylesheet">
<form>

{% for item in evallist%}
   
    <div class ="form-control" >{{loop.index}}. {{item.q_name}}</div>
    
       
        {% if item.type == "점수" %}
            {% for m in mlist %}
            <input type= "radio" name = "{{item.evalu_id}}" value= "{{6 - loop.index }}">{{m}} 
            {%endfor%}
        {% else %}
            <input type= "textarea" name = "{{item.evalu_id}}" class="form-control" >
            
        {%endif%}
    
    

{% endfor%}
<button type="submit" value="submit"> > 제출 < </button>
</form>
{% endblock %}