<!doctype HTML>
<head>
	<meta charset="UTF-8">
	<title>Bakjo AfterCare Service</title>
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
		<header>
			<div class="logo-wrap">
				<img src="{{ url_for('static', filename='img/h.png')}}" style="width: 400px; height: 300px" >
			</div>
		</header>
		<section class="login-input-section-wrap">
			<div class="login-input-wrap">	
				<input placeholder="번호를 입력해주세요" type="text" id="prid"></input>
			</div>
			<div class="login-button-wrap">
				<button onclick="location.href='/home'">고유번호 입력 후 클릭</button >
			</div>
		</section>

		<footer>
			<div class="copyright-wrap">
			<span>- Bakjo hospital A.C.S -</span>
			</div>
		</footer>
		</div>
	</div>
</body>
