{%extends 'base.html' %}
{% block main %}
<script>
	function getSelectValue(frm)
	{
	 frm.docname.value = frm.list.options[frm.list.selectedIndex].value;
	}
</script>
<link href="{{ url_for('static', filename='css/reser.css') }}" rel="stylesheet">
<center>
    <form action="/reservation" method="POST" name = "reser">
        <table width="800">
            <tr height="40">
                <td align="center"><b>[재진신청]</b></td>
            </tr>
        </table>    
        <table width="800" height="800" cellpadding="0" style="border-collapse:collapse; font-size:13pt;">
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%" >환자이름</td>
                <td><input type="text" name="wUserID" value="{{session.loginUser.name}}"></td>
            </tr>
            <tr height="7">
                <td colspan="3"><hr /></td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">환자고유번호</td>
                <td><input type="text" name="wUserPWConfirm" id="pwCheck" value="{{session.loginUser.pat_id}}"></td>
            </tr>
            <tr height="7">
                <td colspan="3"><hr /></td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">진료과목</td>
                <td> 
					<select name="list" id = "list" onchange="getSelectValue(this.form);">
						<option value="none">==== 선택 ====</option>
						{% for doc in majorr %}    
							<option , name = "{{doc.doc_id}}" value = "{{doc.doc_id}}" >{{doc.doc_major}}: {{doc.doc_name}}</option>
						{%endfor%}
				   </select>
				</td>
            </tr>
            <tr height="7">	
                <td colspan="3"><hr /></td>
            </tr>
            <tr class="register" height="30">
                <td width="5%" align="center">*</td>
                <td width="15%">일자,시간 선택</td>
                <td>
					<input type = "date" name="reser_date">
					<input type = "time" name="reser_time" min="09:00" max="20:00"/><br>
                </td>
            </tr>
            <tr height="7">
                <td colspan="3"><hr /></td>
            </tr>
 
        </table>
        <br />
        <table>
			<input type= "submit" value = "[신청]" class="myButton">

        </table>
    </form>
</center>

{% endblock %}