  /* Styling the Body element i.e. Color,
        Font, Alignment */
       
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            min-height: 1000px;
            margin: 40px auto;
            padding: 10px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
 
        /* Styling form-control Class */
      .form-control {
            text-align: left;
            margin-bottom: 15px;
            margin-top: 30px;

        }

        .form-controlll {
            text-align: left;
            margin-bottom: 5px;
            margin-top: 20px;

        }
    
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 15px;
        }
 
        /* Styling form-control input,
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
            
        }
 
        /* Styling Button */
        button {
            background-color: #4e3ec4;;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            font-weight: 700;
        }

        textarea{
            width: 100%;
            height: 6.25em;
            border: none;
            resize: none;
        }